*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #333;
    color: whitesmoke;
}
h1{
    font-size: 80px;
    font-weight: 600;
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    white-space: nowrap;
}
.nav{
    display: flex;
    gap: 1rem;
    padding: 3rem;
}
.nav a{
    color: white;
    text-decoration: none;
}
.active{
    color: red;
}
.non-active{
    color: white;
}
h2{
    font-size: 80px;
    font-weight: 600;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    white-space: nowrap;
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rebeccapurple;
    position: absolute;
    bottom: 0;
}
.footer button{
    padding: 0.5rem 1rem;
    background-color: yellow;
    font-size: 2rem;
    border: 2px dashed black;
    border-radius: 1rem;
    cursor: pointer;
}
.footer button:active{
    transform: scale(0.9);
}
.footer h3{
    font-size: 80px;
    font-weight: 600;
    white-space: nowrap;
}
